body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000; /* Add a black background color */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (min-width: 768px) {
    .video-background {
        width: auto;
        height: 75vh; /* Set height to 75% of viewport height */
        max-width: 100%;
        max-height: 75vh; /* Ensure max-height matches height */
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px; /* Add corner radius */
    }
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

h1, h2, h3 {
    color: #fff;
}

a {
    color: #3498db;
}

a:hover {
    color: #2980b9;
}