/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d1ecfd;
    /* background: linear-gradient(124deg, #ffac6c, #ffcf90, #FA9C95, #ec8fd8, #d091e5, #ad90e8, #7f9ff1, #7ec9ef, #8de6f2, #B1F5FF); */
    /* background-size: 400% 400%; */
    /* animation: rainbow 18s ease infinite; */
}

/* Typography */
h1, h2, h3 {
    color: #fff;
}

a {
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

/* Layout */
.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

/* Featured Video */
.featured-video {
    position: fixed;
    width: auto;
    height: 80vh;
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    z-index: -1;
    /* animation: videoAppear 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; */
}

/* Download Button */
.download-button-container {
    position: fixed;
    z-index: 10;
}

.download-button {
    max-width: 300px;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Animations */
@keyframes rainbow { 
    0% { background-position: 0% 82% }
    50% { background-position: 100% 19% }
    100% { background-position: 0% 82% }
}

@keyframes videoAppear {
    0% { transform: translate(-50%, 100%) rotate(15deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}

/* Media Queries */
@media (max-width: 767px) {
    .featured-video {
        /* top: 40%; */
        height: 80vh;
        max-height: 80vh;
    }

    @keyframes videoAppear {
        0% { transform: translate(-50%, 100%) rotate(15deg); }
        100% { transform: translate(-50%, -30%) rotate(0deg); }
    }

    .download-button-container {
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .download-button {
        max-width: 40vw;
        width: 100%;
    }

    .download-button:hover {
        transform: scale(1.05);
    }
}

@media (min-width: 768px) {
    .content-wrapper {
        justify-content: flex-start;
        padding-top: 5vh;
    }

    .container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .download-button-container {
        top: 50%;
        right: calc(10% + 100px);
        transform: translateY(-50%);
    }

    .download-button:hover {
        transform: rotate(-5deg) scale(1.05);
    }
}